body {
    margin: 0;
}

header {
    background: rgb(204,204,43);
background: linear-gradient(189deg, rgba(204,204,43,1) 0%, rgba(34,193,195,1) 0%, rgba(204,204,43,1) 100%);
display: flex;
flex-direction: column;
justify-content: center;
margin: auto;
}

.head_sect_1, .head_sect_2 {
    width: 80%;
    margin: 0 auto;
}

.head_sect_1 h1 {
    width: 750px;
    font-size: 4.5rem;
    color: #f1f1f1;
    font-family:   "calibri", sans serif;
}

.head_sect_1 h1, .head_sect_2 h2 {
    color: #f1f1f1;
    font-family:   "calibri", sans serif;
}


.head_sect_2 h2 {
    font-size: 3rem;
    width: 600px;
    text-transform: capitalize;
}

.head_sect_2 {
    display: flex;
    align-items: flex-start;
}

.sect_2_details {
    margin: 100px 0;
}


.details_cube {
    width: 50px;
    height: 50px;
    background-color: white;
}

.about_nick {
    background-color: #f1c50e;
    width: 420px;
    height: auto;
    display: flex;
    gap: 30px;
    padding: 20px 10px 10px 20px;
    margin: 0 40px 0 auto;
}
.about_nick img {
    width: 160px;
}

.nick_larson {
    width: 160px;
    height: 160px;
    border-radius: 100%;
    object-fit: cover;
}

.nick_text_div h4 {
    padding-left: 20px;
}

.head_sect_2, .head_sect_1, .main_sect_1 {
    margin: 0 auto;
    width: 80%;
}

.main_sect_1 {
    display: flex;
    flex-direction: column;
    
}

.main_sect_1_details {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}

.person_photo img {
    width: 240px;
    height: 240px;
    border-radius: 100%;
    object-fit: cover;
}

.persons_bio, .person_photo .perons_name {
    width:33% ;
}
.persons_bio {
    padding: 0 30px;
}

.person_name {
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_sect_1_btn {
    display: flex;
    justify-content: center;
}

.main_sect_1_btn button {
    width: 170px;
    height: 50px;
    background-color: orange;
    text-transform: uppercase;
    border: none;
}